{% extends "base.html" %}

{% load static %}

{% block title %}Create an account{% endblock title %}

{% block content %}
<div class="account-conteiner">
    <img src="{% static "images/styling_images/registration.jpg" %}" alt="">
    <div class="account-block">
        <div class="account-header">
            <h2>Create account</h2>
            <p>Welcome! Enter Your Details And Start <br>Creating, Collectiong And Selling NFTs.</p>
        </div>
        <form class="account-form" method="post">
            {% csrf_token %}
            {% if user_form.username.errors %}
                    <span class="error-text"> {{ user_form.username.errors }}</span>
            {% endif %}
            <div class="input-icon">
                <img src="{% static "images/icons/User.svg" %}" alt="">
                {{ user_form.username }}
            </div>
            <span class="help-text">{{ user_form.username.help_text }}</span>
            {% if user_form.email.errors %}
                    <span class="error-text">{{ user_form.email.errors }}</span>
            {% endif %}
            <div class="input-icon">
                <img src="{% static "images/icons/EnvelopeSimple.svg" %}" alt="">
                {{ user_form.email }}
            </div>
            {% if user_form.password1.errors %}
                    <span class="error-text">{{ user_form.password1.errors }}</span>
            {% endif %}
            <div class="input-icon">
                <img src="{% static "images/icons/LockKey.svg" %}" alt="">
                {{ user_form.password }}
            </div>
            {% if user_form.password2.errors %}
                    <span class="error-text">{{ user_form.password2.errors }}</span>
            {% endif %}
            <div class="input-icon">
                <img src="{% static "images/icons/LockKey.svg" %}" alt="">
                {{ user_form.password2 }}
            </div>
            <button class="button background-btm" type="submit">Create account</button>
        </form>
    </div>
    
</div>
{% endblock content %}