{% extends "base.html" %}

{% load static %}


{% block title %}Reset your password{% endblock title %}

{% block content %}
<div class="account-conteiner">
    <img src="{% static "images/styling_images/registration.jpg" %}" alt="">
    <div class="account-block">
        {% if validlink %}
            <div class="account-header">
                <h2>Reset your password</h2>
                <p>Please enter your new password twice:
                </p>
            </div>
            <form class="account-form" method="post">
                {% csrf_token %}
                <div class="input-icon">
                    <img src="{% static "images/icons/LockKey.svg" %}" alt="">
                    <input type="password" name="new_password1" placeholder="New Password" required>
                </div>
                <div class="input-icon">
                    <img src="{% static "images/icons/LockKey.svg" %}" alt="">
                    <input type="password" name="new_password2" placeholder="New Password Confirm" required>
                </div>
                <button class="button background-btm" type="submit">Change my password</button>
            </form>
        {% else %}
            <div class="account-header">
                <h2>Reset your password</h2>
                <p>The password reset link was invalid, <br>
                    possibly because it has already <br>
                    been used. Please request a new password reset.<br>
                </p>
            </div>
        {% endif %}
    </div>
    
</div>
{% endblock content %}