{% extends "base.html" %}

{% load static %}


{% block title %}Reset your password{% endblock title %}

{% block content %}
<div class="account-conteiner">
    <img src="{% static "images/styling_images/registration.jpg" %}" alt="">
    <div class="account-block">
        <div class="account-header">
            <h2>Forgotten your password?</h2>
            <p>Enter your e-mail address to <br>
                obtain a new password.
            </p>
        </div>
        <form class="account-form" method="post">
            {% csrf_token %}
            <div class="input-icon">
                <img src="{% static "images/icons/EnvelopeSimple.svg" %}" alt="">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <button class="button background-btm" type="submit">Send e-mail</button>
        </form>
    </div>
    
</div>
{% endblock content %}