{% extends "base.html" %}

{% load static %}


{% block title %}Change your password{% endblock title %}

{% block content %}
<div class="account-conteiner">
    <img src="{% static "images/styling_images/registration.jpg" %}" alt="">
    <div class="account-block">
        <div class="account-header">
            <h2>Change Your Password</h2>
            <p>Use The Form Below To Change Your Password</p>
        </div>
        <form class="account-form" method="post">
            {% csrf_token %}
            <div class="input-icon">
                <img src="{% static "images/icons/LockKey.svg" %}" alt="">
                <input type="password" name="old_password" placeholder="Old Password" required>
            </div>
            <div class="input-icon">
                <img src="{% static "images/icons/LockKey.svg" %}" alt="">
                <input type="password" name="new_password1" placeholder="New Password" required>
            </div>
            <div class="input-icon">
                <img src="{% static "images/icons/LockKey.svg" %}" alt="">
                <input type="password" name="new_password2" placeholder="New Password Confirm" required>
            </div>
            <button class="button background-btm" type="submit">Change</button>
        </form>
    </div>
    
</div>
{% endblock content %}