{% extends "base.html" %}

{% load static %}

{% block title %}Password reset{% endblock title %}

{% block content %}
<div class="account-conteiner">
    <img src="{% static "images/styling_images/registration.jpg" %}" alt="">
    <div class="account-block">
        <div class="account-header">
            <h2>Password reset</h2>
            <p>
                Your password has been set.  
            </p>
        </div>
        <div class="account-body">
            <p>You Can</p>
            <a class="button background-btm" href="{% url "login" %}">Log in now</a> 
        </div>
    </div>
    
</div>

{% endblock content %}